# Django
SECRET_KEY=troque-por-uma-chave-longa-e-aleatoria
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=

# MySQL / MariaDB compatível
DB_NAME=raiz_db
DB_USER=raiz_app
DB_PASSWORD=TROQUE_ESTA_SENHA
DB_HOST=127.0.0.1
DB_PORT=3306

# Segurança de produção (ative apenas atrás de HTTPS configurado)
SECURE_SSL_REDIRECT=False
SECURE_HSTS_SECONDS=0
