{% extends 'base.html' %}
{% block title %}Entrar{% endblock %}
{% block content %}
<section class="painel estreito">
  <h1>Entrar no sistema</h1>
  <p>Use o usuário administrador criado no terminal.</p>
  <form method="post">{% csrf_token %}
    {% if form.non_field_errors %}<div class="erro">{{ form.non_field_errors }}</div>{% endif %}
    <label for="id_username">Usuário</label>{{ form.username }}
    <label for="id_password">Senha</label>{{ form.password }}
    <button type="submit">Entrar</button>
  </form>
</section>
{% endblock %}
